.My-Style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: grey;  
}

.My-Button {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 20px;
}

.My-Table {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.modalClass {
    text-align: center
}